:root {
  --color-primary: #791f90;
  --color-text: #18161d;
  --color-text-lighter: rgb(126, 129, 131);
  --color-danger: #cf004c;
  --color-light-gray: #f6f7f9;
  --color-gray: #e8eaee;
  --color-dark-gray: #f0f0f0;
  --color-light: #f8f8f8;
  --color-dark: #23272a;
  --color-dark-lighter: #0e2b3f;
  --background: rgb(240, 243, 245);
  --color-main-background: rgb(255, 255, 255);
  --sidebar-width: 290px;
  --background-gradient: linear-gradient(90deg, rgba(35, 39, 42, 1) 0%, rgba(15, 59, 89, 1) 33%, rgba(14, 43, 63, 1) 65%, rgba(35, 39, 42, 1) 100%);

}

#sidebar.active {
  --sidebar-width: 0;
  margin-left: calc(0px - 290px);
}

.dark-mode {
  --color-text: #fff;
  --color-text-lighter: #c7c7c7;
  --background: #23272a;
  --color-main-background: #23272a;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: var(--color-text) !important;
  -webkit-text-fill-color: var(--color-text) !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

*:focus {
  box-shadow: none !important;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text) !important;
  background: var(--background) !important;
  font-size: 11.5pt !important;
}

.main-container {
  min-height: 80vh;
}

.page-content-wrapper {
  display: flex;
  position: relative;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}

.bg-body {
  background-color: var(--background) !important;
}

.bold {
  font-weight: bold !important;
}

.color-text {
  color: var(--color-text) !important;
}

.color-text-lighter {
  color: var(--color-text-lighter) !important;
}

.bg-gray {
  background-color: var(--color-light-gray) !important;
}

.bg-app {
  background-color: var(--color-main-background) !important;
}

.btn-basic:hover {
  background-color: #18161d1c !important;
}

.hover-secondary:hover {
  background-color: #18161d1c !important;
}

.navbar-wrapper {
  background: var(--color-main-background);
}

.btn-primary,
.bg-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  transition: opacity 0.25s ease !important;
}

.btn-primary:hover {
  opacity: 0.8;
}

.text-primary {
  color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--color-secondary) !important;
}

.bg-dark {
  background-color: var(--color-dark) !important;
}

.rounded-lg {
  border-radius: 20px !important;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400 !important;
}

.form-control {
  border: 1px solid #cdd2d3 !important;
  background: transparent !important;
  transition: border-color 0.3s ease;
  color: var(--color-text) !important;
}

.form-control:focus {
  border-color: var(--color-text) !important;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-text-lighter) !important;
  opacity: 1;
  /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-text-lighter) !important;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--color-text-lighter) !important;
}

.container {
  max-width: 1300px !important;
}

.small {
  font-size: 12.5px !important;
}

.medium {
  font-size: 13px !important;
}

.auth-page-logo {
  max-width: 85px;
  width: 100%;
}

.main-auth-page-container {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar {
  width: 8px
}

::-webkit-scrollbar-track {
  background-color: transparent
}

::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  border-radius: 2rem
}

.w-fit {
  width: fit-content !important;
}

hr {
  border-top: 2px solid var(--color-gray) !important;
  opacity: 1 !important;
}

.auth-page-logo {
  max-width: 105px;
  width: 100%;
}

.tab-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
}

.tab-icon {
  height: 20px !important;
  width: auto;
}

.navbar {
  background: transparent !important;
  z-index: 999;
}

.admin-header {
  position: fixed !important;
  max-width: calc(100% - var(--sidebar-width)) !important;
}

#hero-section-wrapper .navbar .nav-item .nav-link {
  color: #fff !important;
  font-weight: 500;
}


#hero-section-wrapper .navbar .nav-item .nav-link:hover {
  color: #fff !important;
  text-decoration: underline;
}

.navbar-brand img {
  height: 35px;
}

.main-content-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 90vh;
}

.admin-content-wrapper {
  width: 100%;
  overflow: auto;
  padding-left: var(--sidebar-width);
}

.opacity-80 {
  opacity: .8;
}

.card {
  color: var(--color-text) !important;
  background: var(--color-main-background) !important;
}

.switch-off.btn {
  background-color: var(--color-main-background) !important;
}

.hover,
.hover-lg {
  transition: opacity .25s ease !important;
}

.hover:hover {
  opacity: 0.8;
}

.hover-lg:hover {
  opacity: 0.6;
}

footer li a {
  font-size: 400 !important;
}

footer {
  max-width: unset !important;
  background: var(--color-dark) !important;
  color: white !important;
  border-top: 1px solid var(--bs-secondary);
}

@media only screen and (min-width: 768px) {
  .footer-links-block {
    width: fit-content !important;
  }
}

.dropdown-menu-left {
  right: 0 !important;
  left: unset !important;
}

.custom-dropdown .dropdown-menu {
  border: 1px solid transparent;
  margin-top: 1rem !important;
  padding-top: 0;
  padding-bottom: 0;
  padding: 10px;
  -webkit-transition: 0.3s margin-top ease, 0.3s opacity ease,
    0.3s visibility ease;
  -o-transition: 0.3s margin-top ease, 0.3s opacity ease, 0.3s visibility ease;
  transition: 0.3s margin-top ease, 0.3s opacity ease, 0.3s visibility ease;
  max-width: 380px;
}

.custom-dropdown .user-dropdown-toggler {
  color: var(--color-text);
}

#hero-section-wrapper .custom-dropdown .user-dropdown-toggler,
#hero-section-wrapper .title {
  color: white !important;
}

#hero-section-wrapper .dropdown-menu {
  background-color: var(--color-dark) !important;
}

.language-selector span {
  color: var(--color-text);
}

#hero-section-wrapper .language-selector * {
  color: white !important;
}

.custom-dropdown .title-wrap {
  padding-top: 10px;
  padding-bottom: 10px;
}

.custom-dropdown .title {
  font-size: 10pt;
  font-weight: 700;
}

.switch.btn {
  height: 28px !important;
  min-height: 28px !important;
}

.switch-on,
.switch-off {
  top: 50% !important;
  transform: translateY(-50%) !important;
  bottom: unset !important;
}

.animation-target {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.animation-target::before {
  content: attr(data-content);
  display: inline-block;
  overflow: hidden;
  width: 0;
  animation: typeText 2.2s steps(40, end) forwards, revealText 1.2s steps(40, end) 2.2s forwards;
}

@keyframes typeText {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes revealText {
  from {
    width: 100%;
  }

  to {
    width: auto;
  }
}



.image-animation {
  animation: moveUpDown 2s ease-in-out infinite alternate;
}

@keyframes moveUpDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10px);
  }
}



#sidebar {
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background: var(--color-main-background);
  border-right: 1px solid var(--bs-muted);
  transition: all 0.3s;
  padding-top: 1.5rem;
  padding-bottom: 1.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#sidebar.active #toggleModalButton {
  left: 0;
  transform: translateX(0%);
  z-index: 999 !important;
}

#sidebar-logo {
  max-width: 35px;
  width: 100%;
}

.nav-item.active,
.nav-item.active .nav-link,
.nav-item:hover,
.nav-item:hover .nav-link {
  color: var(--color-text) !important;
}

.nav-item .nav-link {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-weight: 500;
  color: var(--color-text);
}

#toggleModalButton {
  left: var(--sidebar-width);
  transform: translateX(-50%);
  bottom: 3rem;
}

.nav-item .nav-link svg {
  font-size: 13px !important;
}

@media only screen and (max-width: 855px) {
  #sidebar {
    position: fixed !important;
    z-index: 9999 !important;
  }
}

.sidebar-link-group {
  padding-bottom: 1.85rem;
}

.form-check-input {
  border: 1.5px solid var(--color-primary) !important;
}

.headline {
  line-height: 1;
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 60px;
  font-family: 'extrabold', sans-serif;
}

#hero-section-wrapper {
  background: var(--background-gradient) !important;
}

.hero-subtitle {
  color: white !important;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.language-selector {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  top: 48px;
  padding: 0;
  list-style: none;
  z-index: 1000;
}

.dropdown-item {
  padding: 10px 20px;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}


@font-face {
  font-family: 'extrabold';
  src: url('./assets/fonts/extrabold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

#accountDropdown {
  background-color: #fff !important;
  top: 30px;
}

.sys-reqs-txt {
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sys-reqs-txt::before,
.sys-reqs-txt::after {
  background-color: var(--bs-gray-500);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.sys-reqs-txt::before {
  right: 0.5em;
  margin-left: -50%;
}

.sys-reqs-txt::after {
  left: 0.5em;
  margin-right: -50%;
}